@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300&display=swap');

html, body {
   margin: 0;
   padding: 0;
   height: 100%;
   overflow-y: hidden;
}

svg {
  z-index: 4;
  position: fixed;
}

text {
  font-family: "Lato", sans-serif;
}


#container {
  pointer-events: none;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

#static {
    width: 100%;
    height: 100%;
    grid-column: 1;
    grid-row: 1;
}


/* EVERYTHING IN THE SIDEBAR SHOULD BE HASHED OUT HERE
*/
#story {
  top: 0;
  left: 1%;
  height: 99.5%;
  margin-top: 0.5%;
  width: max(30%, 360px); /* 360px is the length of the mapbox logo attribution plus the mapbox text attribution */
  z-index: 5;
  display: grid;
  grid-template-rows: [title] 10% [story-body] auto [nextButton] 5% [attribution] 5%;
  justify-content: left;
}

#projectTitle{
  grid-row-start: title;
  grid-row-end: story-body;
}

#nextBox {
  grid-row-start: nextButton;
  grid-row-end: attribution;
  z-index: 4;
}

#attribution {
  width: 100%;
  grid-row-start: attribution;
  z-index: 5;
  display: grid;
  grid-template-columns: [logoattr] auto [textattr] auto;
  justify-content: left;
  align-items: center;
  font-size: 11px;
  overflow-y: hidden;
  margin-bottom: 5px;
}

button {
  background:none;
  border:none;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  text-decoration: underline;
  cursor:pointer;
  justify-content: left;
}

/* start off the attribution as opacity 0 so that it can be faded in, instead of abruptly teleporting */
.mapboxgl-ctrl.mapboxgl-ctrl-attrib {
  opacity: 0;
}
.mapboxgl-ctrl-logo {
  opacity: 0
}

.map-overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.9);
  font-family: "Lato", sans-serif;
  overflow: auto;
  border-radius: 3px;
  z-index: 5;
}

.nation:hover{
  stroke: #fff;
  stroke-width: 1px;
}
.mapboxgl-popup {
  z-index: 4;
}
.mapboxgl-canvas {
  opacity: 0;
  position: absolute;
}


div.tooltip {
  z-index: 20;
  display: flex;
  flex-direction: column;

  text-align: left;

  position: absolute;
  width: 300px;
  height: fit-content;
  padding: 2px;
  font-family: 'Lato';
  font: 12px;
  background: #F7F7F7;
  border: 3px solid lightsteelblue;
  border-radius: 8px;
}

/* legend */

#legend {
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  line-height: 18px;
  margin-bottom: 40px;
  z-index: 4;
}

.legend-key {
  display: inline-block;
  border-radius: 20%;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  z-index: 4;
}
.mapboxgl-popup-content {
  font-family: "Lato", sans-serif;
}
